.order {
    border: 1px solid #eeeeee;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: #ffffff;
}

.order__action {
    display: flex;
    justify-content: space-between;
}

.order__action button {
    padding: 0.5rem 1rem;
    margin: 0 1rem;
}