main {
    display: flex;
}

main app-product-list {
    flex-grow: 3;
}

main app-basket {
    flex-grow: 1;
    background-color: #f9f9f9;
    padding: 0 1rem;
    margin: 0 1rem;
    min-width: 24rem;
}